pool: 
 name: Default 
 demands: 
  - agent.name -equals AGENTDOCKER

#pool:
 # name: Default

variables:
  resource_group: 'app-grp'
  web_app_name: 'webapp-java-assessment'
  environmentName: 'DEV'
  azureServiceConnectionId: 'SRVCONNECTION'
  javaVersion: '11'

stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: BuildJob
    steps:
    - checkout: self
    - script: |
        cd spring-boot-react-example
        mvn clean package
        displayName: 'Build Maven project'
    
    - task: ArchiveFiles@2
      displayName: 'Archive build artifacts'
      inputs:
        rootFolderOrFile: 'spring-boot-react-example/target'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/app.zip'
        replaceExistingArchive: true
        verbose: true
    
    - upload: $(Build.ArtifactStagingDirectory)/app.zip
      displayName: 'Upload package'
      artifact: drop

- stage: Deploy
  displayName: 'Deploy Web App'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: DeploymentJob
    environment: $(environmentName)
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebApp@1
            displayName: 'Deploy Azure Web App: $(web_app_name)'
            inputs:
              azureSubscription: $(azureServiceConnectionId)
              appName: $(web_app_name)
              package: $(Pipeline.Workspace)/drop/app.zip
              deploymentMethod: zipDeploy
              runtimeStack: 'JAVA|11'

          - task: AzureAppServiceSettings@1
            displayName: 'Configure app settings'
            inputs:
              azureSubscription: $(azureServiceConnectionId)
              appName: $(web_app_name)
              appSettings: |
                {
                  "JAVA_OPTS": "-Dserver.port=80"
                }
